*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    margin: 0 auto;
    max-width: 1900px;
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    gap: 2.7em;
    align-items: center;
    justify-content: end;
    padding: 1.2em;
    padding-right: 4.2rem;
}
nav h4{
    font-size: 1rem;
    font-weight: 500;
}
.bag{
    height: 34px;
    width: 34px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bag i {
    color: white;
    padding-bottom: 2px;
}
.center{
    width: 100%;
    height: auto;
    padding: 3.1rem 3.5rem 0 4.7rem;
}
.center h1{
    font-size: 4em;
    font-weight: 400;
}
.paragraph-container{
    display: flex;
    justify-content: space-between;
}
.paragraph{
    width: 350px;
    margin-top: 30px;
}
.paragraph p{
    line-height: 25px;
}
.right{
    margin-top: 58px;
    margin-right: 40px;
}
.right .links{
    border-top: 2px solid rgb(103, 102, 102);
    width: 260px;
    display: flex;
    align-items: center;
    height: 55px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
        cursor: pointer;
    }
}

.links:hover .arrow i{
    opacity: 1;
}
.links:hover .link{
        text-decoration: underline;
        text-decoration-color: rgb(103, 102, 102); 
        text-underline-offset: 4px;
}

.arrow i  {
    opacity: 0;
    font-size: 35px;
    font-weight: 100;
    color:rgb(103, 102, 102); 
    text-decoration: none;
}

#banner-image{
    height: 60vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdeMrtXbj94ZWlC2Gh45_h7YJ5lF66OEbO9Q&s');
    background-size: cover;
    background-position: 0 30%;
    margin-top: 30px;
}

@media screen and (max-width:830px){
    #main{
    margin: 0 auto;
    max-width: 1900px;
    height: 100%;
    width: 100%;
}
nav{
    padding-bottom: 2em;
}
nav h4{
    font-size: 1rem;
    font-weight: 500;
}
.bag{
    height: 34px;
    width: 34px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bag i {
    color: white;
    padding-bottom: 2px;
}


.center{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem 0 4.7rem;
    font-size: 14px;
}

.paragraph-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph{
    width: 350px;
    margin-top: 30px;
}
.paragraph p{
    line-height: 20px;
}



#banner-image{
    height: 60vh;
    background-position: 58% 30%;
    margin-top: 30px;
}

}


@media  screen and (max-width:576px) {


    .center h1{
        font-size: 3em;
        font-weight: 400;
    }

    .paragraph-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
    }

    .right .links{
        display: flex;
        align-items: center;
        height: 40px;
    }

    nav{
        gap: 2.7em;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.2em;
    }

    .center{
        padding: 3.1rem 1.5rem 0 3.8rem;
        font-size: 14px;
    }
    .right{
        margin-top: 26px;
        margin-right: 40px;
    }

}

@media  screen and (max-width:430px) {
    #main{
        width: fit-content;
    }

    #banner-image{
        height: 100vh;
    }
}